<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<app-header></app-header>
<div class="container" style="text-align:center">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>

<!-- <app-footer></app-footer> -->
