<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Playlist-Generator</a>
  <div class="navbar-expand mr-auto">
    <div class="nav navbar-nav">
      <li routerLinkActive="active"><a [routerLink]="['/auth']">Authentification</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/playlists']">Playlist</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/edit']">Nouvelle playlist</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/users']">Utilisateurs</a></li>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/LucasVivas/Playlist-Generator" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/alexandre-casanova-franger-510659153/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/lucas-vivas-9a3a33170/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</nav>
