<div style="text-align:center">
<p>BLABLABLA</p>
<h2>LOG IN</h2>
<button type="button" name="button" class="btn btn-primary">sign up</button>
<a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fxd.adobe.com%2Fspec%2F831406bc-de0b-4f28-835a-da832c739061-d647%2Fscreen%2F5a02b71e-d2fc-44ff-b3a7-9b7c7944ceb8%2FWeb-1920-1%2F%3Ffbclid%3DIwAR0Yv6EboTTcAX4AXKsAs13jsl5Om5gkgkg060lNxrdV40cBHqw8lnh12bI&h=AT2xpgZlbdt-C5i7fBtrDO-o6ANpac3f7yQZdgCRoSuK3B8jNmFH5UREk8Yr50JWIptdnyaYRPJETdB-qqXpnzMPKa9ssgpf5Y1IlH5WysMJbz6CMmqCo_k_PfXJyTznEOTWjhdQi58HYw">maquette adobe</a>

</div>
<table>
  <tr>
    <th>Name</th>
    <th>Artist</th>
    <th>Album</th>
  </tr>
  <tr>
    <th>{{music1.name}}</th>
    <th>{{music1.artist}}</th>
    <th>{{music1.album}}</th>
  </tr>
</table>

<div>
  <label>name:
    <input [(ngModel)]="music1.name" placeholder="name">
  </label>
</div>
