<div class="col-xs-12">
  <h1>Mes playlists</h1>
  <ul class="list-group">
    <ul class="list-group">
      <app-playlist  *ngFor="let playlist of playlists; let i = index"
                     [playlistName]="playlist.name"
                     [description]="playlist.description"
                     [index]="i"
                     [id]="playlist.id"></app-playlist>
    </ul>
  </ul>
  <button class="btn btn-primary"
        (click)="onSave()">Save playlists</button>
  <button class="btn btn-primary"
        (click)="onFetch()">Get Playlists</button>
</div>
